@font-face{
    font-family: bruumBoldFont;
    src: url(https://datamatixgroup.com/asset/fonts/Bruum\ FY\ Bold.otf);
}
@font-face{
    font-family: bruumFont;
    src: url(https://datamatixgroup.com/asset/fonts/Bruum\ FY\ Black.otf);
}
@font-face{
    font-family: bruumLightFont;
    src: url(https://datamatixgroup.com/asset/fonts/Bruum\ FY\ Light.otf);
}
@font-face{
    font-family: newJuneBoldFont;
    src: url(./../fonts/NewJune-Bold.otf);
}
@font-face{
    font-family: newJuneMedFont;
    src: url(./../fonts/NewJune-Medium.otf);
}
@font-face{
    font-family: acuminFont;
    src: url(./../fonts/Acumin\ Pro\ Medium.otf);
}

*{
    font-family: bruumLightFont;
    margin: 0;
    padding: 0;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
/* start home sreen */
/* start header */
header .right-logo p{
    font-size: 25px;
    min-height: 170px;
    display: flex;
    align-items: center;
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
}
header .left-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}
/* header .left-logo img{
    width: 65%;
    min-height: 170px;
} */
header{
    position: relative;
    width: 100%;
    min-height: 170px;
}
header .left-part{
    min-height: 165px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
header .right-part{
    position: absolute;
    width: 74%;
    top: 0;
    right: 0;
    min-height: 115px;
}
header .right-part .nav1{
    background-color: #f1f1f2;
    min-height: 55px;
    display: flex;
    align-items: center;
}
header .right-part .nav1 p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 30px;
}
header .right-part .nav1 .langs{
    display: flex;
    justify-content: end;
    align-items: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
header .right-part .nav1 .langs img{
    width: 26px;
    height: 26px;
    cursor: pointer;
}
header .right-part .nav1 button{
    border: none;
    font-size: 14px;
}
header .nav2{
    background-color: #0079b5;
    color: #fff;
    min-height: 60px;
    display: flex;
    align-items: center;
}
header .nav2 .col-3 a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
header .nav2 ul li{
    position: relative;
    cursor: pointer;

}
header .nav2 ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    bottom: 2px;
    background-color: #fff;
}
header .nav2 a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: bruumBoldFont;
    margin-right: 16px;
}
header .nav3{
    background-color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    /* padding-left: 20px; */
}
header .nav3 a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: bruumBoldFont;
    margin-right: 16px;
}
header .nav3 ul li{
    position: relative;
    cursor: pointer;
    margin-right: 0 !important;
}
header .nav3 ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    bottom: 2px;
    background-color: #000;
    right: 5px;
}
/* end header */
#winnerSliders .carousel-item img{
    /* height: 60rem; */
    height: auto;
}
.counter-top{
    background-color: #f1f1f2;
    padding: 20px 30px;
}
.counter-top .btns {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    width: 90%;
}
.counter-top .btn{
    min-height: 35px;
    color: #f1efef;
    background-color: #1b75bb;
    border: none;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0;
}
.counter-top .btn a{
    text-decoration: none;
    color: #e2eef7;
}
.counter-top .btns .btn-success{
    background-color: #3f3f3f;
}
.counter-top p{
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    color: #000;
}
.counter-top button.btn{
    font-size: 14px;
}
/* start counter */
.counter{
    margin: 30px 0;
}
.counter h2{
    font-family: bruumBoldFont;
    color: #0079b5;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}
.counter i{
    font-size: 35px;
    color: #888686;
}
.counter img{
    margin: 10px auto;
}
.counter p{
    color: #888686;
}
/* end counter */
.main-text h2, .main-text h4{
    text-align: center;
    font-family: bruumBoldFont;
    margin: 40px 0;
}
/* start banners */
.banner{
    /* border-bottom: 10px solid #3f3f3f; */
    width: 100%;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 30px;
    /* border-bottom: 5px solid #0079b5; */
}
.banner.bannerLeft{
    background-position: left;
}
.banner.bannerRight{
    background-position: right;
}
.banner .banner-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner.bannerRight .banner-text{
    text-align: right;
    margin-right: 5%;
}
.banner.bannerRight .banner-text p{
    margin-left: auto !important;
}
.banner.bannerLeft .banner-text{
    width: inherit;
}
.banner .banner-text h3{
    font-family: bruumBoldFont;
    color: #000;
    font-size: 40px;
    line-height: 55px;
    /* margin-bottom: 25px; */
}
.banner .banner-text p{
    font-family: bruumBoldFont;
    line-height: 35px;
    font-size: 24px;
    width: 70%;
}
.banner-1{
    background-image: url(./../images/bannerAI1.jpg);
}
.banner-2{
    background-image: url(./../images/bannerAI2.jpg);
}
.banner-3{
    background-image: url(./../images/bannerAI3.jpg);
}
.banner-4{
    background-image: url(./../images/bannerAI4.jpg);
}
.banner-5{
    background-image: url(./../images/bannerAI5.jpg);
}
.banner-6{
    background-image: url(./../images/bannerAI6.jpg);
}
/* end banners */

/* start section1 */
.section1 h2{
    font-family: bruumBoldFont;
    color: #000;
    margin-bottom: 30px;
}
.section1 p{
    font-size: 20px;
}
.section1 p a{
    text-decoration: none;
    color: #ff0000;
}
/* end section1 */

/* start section2 */
.section2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.section2 h2{
    font-family: bruumBoldFont;
    color: #0079b5;
}
.section2 .section-text, .section2 h2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.section2 .section-text{
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.section2 .section-text h4{
    font-family: bruumBoldFont;
    line-height: 35px;
}
.section2 img{
    width: 100%;
}
.section2 .topp{
    margin-top: -5%;
}
/* start section2 */

/* start smart images */
.smart-images{
    margin: 50px;
}
.smart-images ul{
    display: flex;
    justify-content: space-around;
}
.smart-images ul li{
    list-style: none;
}
.smart-images ul li img{
    width: 95px;
    height: 95px;
}
.smart-images ul li h4{
    font-family: bruumBoldFont;
    margin-top: 25px;
    font-size: 20px;
    padding-left: 15px;
}
.smart-images ul li h4.img1{
    border-left: 4px solid #f9ad41;
}
.smart-images ul li h4.img2{
    border-left: 4px solid #ee5a28;
}
.smart-images ul li h4.img3{
    border-left: 4px solid #25a6df;
}
.smart-images ul li h4.img4{
    border-left: 4px solid #373b95;
}
.smart-images ul li h4.img5{
    border-left: 4px solid #36b14b;
}
/* end smart images */

/* start banner2 */
.banner2 h3{
    font-family: bruumBoldFont;
    margin-top: 25px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
/* end banner2 */

/* start section3 */
.section3{
    padding: 40px 0;
    margin: 30px 0;
    background-color: #f1f1f2;
}
.section3 h4{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 30px;
}
.section3 p{
    font-size: 18px;
    /* margin-bottom: 40px; */
}
.section3 ul li {
    font-size: 18px;
    margin-top: 10px;
}
/* end section3 */

/* start speakers */
.speakers{
    margin: 40px 0;
}
.speakers h4{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 30px;
}
.speakers .speaker img{
    width: 100%;
    margin-bottom: 10px;
}
.speakers .speaker h6{
    color: #565353;
}
.speakers .btn-primary{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 10px 40px;
}
.speakers .btn a{
    text-decoration: none;
    color: #fff;
}
/* end speakers */

/* start topics */
.topics h4{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;
}
.topics .top1{
    margin-top: 2%;
}
.topics .top2{
    margin-top: 4%;
}
.topics .top3{
    margin-top: 6%;
}
.topics .toppp{
    margin-top: -5%;
}
/* end topics */

/* start attends */
.attends{
    margin: 40px 0;
}
.attends h4{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 40px;
    text-align: center;
}
.attends .card{
    text-align: center;
    min-height: 450px;
}
.attends .card .title {
    min-height: 100px;
}
.attends .card .line{
    border-bottom: 2px solid #cdcdcd;
    width: 90%;
    margin: auto;
}
.attends .card .title h5{
    font-weight: bold;
    margin: 20px auto;
    width: 90%;
    font-size: 18px;
}
.attends .card p{
    margin: 20px;
    min-height: 140px;
    color: #959595;
    width: 85%;
    text-align: center;
}
/* end attends */

/* start discussions */
.discussions{
    margin: 30px 0;
}
.discussions h4{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 40px;
    text-align: center;
}
.discussions ul{
    background-color: #0078b5;
    padding: 30px;
}
.discussions ul li{
    color: #f8fcfd;
    margin-bottom: 30px;
    margin-left: 10px;
}
/* end discussions */

/* start section4 */
.section4{
    padding: 40px 0;
    margin: 40px 0;
    background-color: #f1f1f2;
}
.section4 h2{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 40px;
}
.section4 p{
    font-size: 20px;
}
/* end section4 */

/* start sponsor */
.sponsor{
    margin: 30px 0;
}
.sponsor .top1{
    background-color: #000;
    color: #fff;
    padding: 60px 0;
}
.sponsor .top2{
    background-color: #0079b5;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 40px;
}
.sponsor .top1 h3{
    font-family: acuminFont;
    font-size: 32px;
}
.sponsor .top1 .btn{
    padding: 10px 20px;
}
.sponsor .top1 .btn a{
    color: #fff;
}
/* .sponsor .spons img{
    width: 100%;
    height: 47px;
} */
.sponsor .spons .sponsRow{
    margin-bottom: 15px;
}
/* end sponsor */
.home-page-images img{
    /* height: 195px; */
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img1{
    background-image: url(./../images/home-page1.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img2{
    background-image: url(./../images/home-page2.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img3{
    background-image: url(./../images/home-page3.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img4{
    background-image: url(./../images/home-page4.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img5{
    background-image: url(./../images/home-page5.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img6{
    background-image: url(./../images/home-page6.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img7{
    background-image: url(./../images/home-page7.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img8{
    background-image: url(./../images/home-page8.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img9{
    background-image: url(./../images/home-page9.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img10{
    background-image: url(./../images/home-page10.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img11{
    background-image: url(./../images/home-page11.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img12{
    background-image: url(./../images/home-page12.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img13{
    background-image: url(./../images/home-page13.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img14{
    background-image: url(./../images/home-page14.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img15{
    background-image: url(./../images/home-page15.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img16{
    background-image: url(./../images/home-page16.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img17{
    background-image: url(./../images/home-page17.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img18{
    background-image: url(./../images/home-page18.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img19{
    background-image: url(./../images/home-page19.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img20{
    background-image: url(./../images/home-page20.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img21{
    background-image: url(./../images/home-page21.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img22{
    background-image: url(./../images/home-page22.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img23{
    background-image: url(./../images/home-page23.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img24{
    background-image: url(./../images/home-page24.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img25{
    background-image: url(./../images/home-page25.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img26{
    background-image: url(./../images/home-page26.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img27{
    background-image: url(./../images/home-page27.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img28{
    background-image: url(./../images/home-page28.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img29{
    background-image: url(./../images/home-page29.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img30{
    background-image: url(./../images/home-page30.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img31{
    background-image: url(./../images/home-page31.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img32{
    background-image: url(./../images/home-page32.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img33{
    background-image: url(./../images/home-page33.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img34{
    background-image: url(./../images/home-page34.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img35{
    background-image: url(./../images/home-page35.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img36{
    background-image: url(./../images/home-page36.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img37{
    background-image: url(./../images/home-page37.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img38{
    background-image: url(./../images/home-page38.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img39{
    background-image: url(./../images/home-page39.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img40{
    background-image: url(./../images/home-page40.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img41{
    background-image: url(./../images/home-page41.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img42{
    background-image: url(./../images/home-page42.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img43{
    background-image: url(./../images/home-page43.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img44{
    background-image: url(./../images/home-page44.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img45{
    background-image: url(./../images/home-page45.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img46{
    background-image: url(./../images/home-page46.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img47{
    background-image: url(./../images/home-page47.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img48{
    background-image: url(./../images/home-page48.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img49{
    background-image: url(./../images/home-page49.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img50{
    background-image: url(./../images/home-page50.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img51{
    background-image: url(./../images/home-page51.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img52{
    background-image: url(./../images/home-page52.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img53{
    background-image: url(./../images/home-page53.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img54{
    background-image: url(./../images/home-page54.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img55{
    background-image: url(./../images/home-page55.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img56{
    background-image: url(./../images/home-page56.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img57{
    background-image: url(./../images/home-page57.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img58{
    background-image: url(./../images/home-page58.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img59{
    background-image: url(./../images/home-page59.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img60{
    background-image: url(./../images/home-page60.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img61{
    background-image: url(./../images/home-page61.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img62{
    background-image: url(./../images/home-page62.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img63{
    background-image: url(./../images/home-page63.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img64{
    background-image: url(./../images/home-page64.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img65{
    background-image: url(./../images/home-page65.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img66{
    background-image: url(./../images/home-page66.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img67{
    background-image: url(./../images/home-page67.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img68{
    background-image: url(./../images/home-page68.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img69{
    background-image: url(./../images/home-page69.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img70{
    background-image: url(./../images/home-page70.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img71{
    background-image: url(./../images/home-page71.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img72{
    background-image: url(./../images/home-page72.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img73{
    background-image: url(./../images/home-page73.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img74{
    background-image: url(./../images/home-page74.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img75{
    background-image: url(./../images/home-page75.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img76{
    background-image: url(./../images/home-page76.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img77{
    background-image: url(./../images/home-page77.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img78{
    background-image: url(./../images/home-page78.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img79{
    background-image: url(./../images/home-page79.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img80{
    background-image: url(./../images/home-page80.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img81{
    background-image: url(./../images/home-page81.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img82{
    background-image: url(./../images/home-page82.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img83{
    background-image: url(./../images/home-page83.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img84{
    background-image: url(./../images/home-page84.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img85{
    background-image: url(./../images/home-page85.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img86{
    background-image: url(./../images/home-page86.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img87{
    background-image: url(./../images/home-page87.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img88{
    background-image: url(./../images/home-page88.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}
.home-page-images .img89{
    background-image: url(./../images/home-page89.jpg);
    background-size: cover;
    height: 14.25vw;
    margin-bottom: 20px;
}

/* start footer */
footer .footer1{
    background-color: #000;
    border-bottom: 15px solid #b6b6b6;
    min-height: 180px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
footer .footer1 .btn{
    background-color: #000;
    color: #b1b1b1;
    font-size: 16px;
    border-color: #4e4e4e;
    border-radius: 0;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
footer .footer1 p{
    color: #b1b1b1;
}
footer .footer1 h5{
    font-size: 17px;
    color: #b1b1b1;
}
footer .social-media{
    text-align: center;
    margin: 30px auto;
}
footer .social-media h6{
    font-weight: bold;
    font-size: 20px;
}
footer .social-media i{
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}
footer .footer1 .social{
    margin: 0 auto;
    text-align: center;
}
footer .footer1 .social ul li{
    width: 30px;
    height: 35px;
    cursor: pointer;
}
footer .footer2{
    background-color: #282828;
    color: #fff;
    padding: 30px 0 !important;
}
footer .footer2 .logo{
    text-align: center;
    position: relative;
    left: -25%;
}
footer .footer2 .logo h5{
    font-family: bruumBoldFont;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}
footer .footer2 .links {
    /* margin-top: 5%;
    padding-top: 5%; */
    padding-right: 10px;
    border-right: 1px solid #bfb2b2;
}
footer .footer2 .links h5{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}
footer .footer2 .links p, footer .footer2 .links p a{
    color: #929292;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 17px;
    text-decoration: none;
}
footer .footer2 .apps{
    /* padding-top: 10%; */
    padding-left: 10px;
}
footer .footer2 .apps h4{
    color: #fff;
    font-family: bruumBoldFont;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
}
footer .footer2 .apps .line{
    border-bottom: 1px solid #fff;
    margin: 25px 0;
}
footer .footer2 .apps h5,
footer .footer2 .apps h5 a{
    text-decoration: none;
    color: #fff;
    font-family: bruumBoldFont;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
}
footer .footer2 .apps .btn{
    background-color: #0079b5;
    border-color: #0079b5;
    border-radius: 0;
    color: #fff;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 30px 0; */
}
footer .footer2 .apps ul li{
    width: 45%;
}
footer .footer3 {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}
footer .footer3 ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
/* end footer */
/* end home sreen */

/* start speaker page */
.speaker-page .speaker{
    background-color: #fff;
    padding: 40px 0;
}
.speaker .img-speak{
    cursor: pointer;
}
.speaker .img-speak:hover img{
    border-bottom: 2px solid red;
}
.speaker .img-speak:hover h5{
    color: red;
}
.speaker .img-speak img{
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
}
.speaker .img-speak h5{
    margin: 20px auto 30px;
}
.speaker-page .nav-spakers{
    background-color: #0079b5;
    color: #fff;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.speaker-page .nav-spakers .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link{
    color: #fff;
}
.speaker-page .nav-spakers ul li {
    position: relative;
    cursor: pointer;
    --bs-nav-link-padding-x: 0;
    margin-right: 15px !important;
}
.speaker-page .nav-spakers ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: bruumBoldFont;
    /* margin-right: 16px; */
}
/* .speaker-page .nav-spakers ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    bottom: 2px;
    background-color: #fff;
} */
.nav-spakers .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #0079b5 !important;
    border-bottom: 1px solid #fff;
}
.nav-spakers .nav-pills .nav-link{
    border-radius: 0;
}
/* end speaker page */

/* start agenda screen */
.agenda-screen .event-agenda{
    background-color: #f1f1f2;
    padding: 40px;
    margin-top: 30px;
}
.event-agenda nav{
    background-color: #e6e7e8;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-flex;
}
.event-agenda nav button.nav-link{
    background-color: #fff;
    border-radius: 0;
    margin: 0 5px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    padding: 6px 26px;
}
.agenda-screen .photo-gallery a{
    text-decoration: none;
    color: #fff;
}
.event-agenda .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #ff0000;
}
.event-agenda h5{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}
.agenda-screen .agenda-section{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e6e7e8;
    border-bottom: 3px solid #fff;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
.agenda-screen .agenda-section p{
    margin-bottom: 0;
    font-size: 15px;
    color: #000;
    font-family: bruumBoldFont;
}
.agenda-screen .agenda-section ul{
    padding-left: 1rem;
    margin-top: 5px;
}
.agenda-screen .agenda-section ul li{
    font-size: 14px;
    margin-bottom: 4px;
    list-style: disc;
}
.agenda-screen .btn-danger{
    border-radius: 0;
    background-color: #ff2020;
    border: none;
    font-size: 14px;
    color: #ffe9e9;
}
/* end agenda screen */
/* start photo-gallery screen */
.photo-gallery{
    margin: 40px 0;
}
.photo-gallery h4{
    font-family: bruumBoldFont;
    color: #0079b5;
    margin-bottom: 40px;
}
.photo-gallery .gallery{
    border: 1px solid #0078b5;
    padding: 5px;
    margin-bottom: 35px;
}
.photo-gallery h5{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.banner-bottom .img{
    border: 1px solid #1b75bb;
    padding: 5px;
}
/* end photo-gallery screen */

/* start media-screen */
.media-screen{
    font-family: bruumLightFont;
}
.media-screen .photo-gallery p, .media-screen .photo-gallery h6 {
    font-weight: bold;
    font-family: bruumLightFont;
    margin-bottom: 30px;
}
.media-screen .contact-text a{
    text-decoration: none;
    color: #ff0000;
}
.media-screen .contact-text .search{
    position: relative;
    width: 100%;
    min-height: 40px;
    margin-bottom: 35px;
}
.media-screen .contact-text .search input{
    position: absolute;
    width: 65%;
    height: 100%;
}
.media-screen .contact-text .search .btn-danger{
    width: 20%;
    position: absolute;
    height: 100%;
}
.media-screen .contact-text h6.text-red {
    color: #ff0000;
    line-height: 25px;
    font-size: 20px;
    font-weight: normal;
}
.media-screen .contact-text h6.text-red p{
    color: #5c5c5c;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}
.contact-screen .contact-text {
    margin: 30px 0 0;
    padding: 40px;
    background-color: #f1f1f2;
}
.media-screen .btn-danger {
    border-radius: 0;
    background-color: #ff2020;
    border: none;
    font-size: 14px;
    color: #ffe9e9;
}
.media-screen .contact-text p.text{
    font-size: 20px;
    font-weight: normal;
    color: #000;
    line-height: 25px;
    margin-top: -20px;
}
/* end media screen */

/* start contact screen */
.contact-screen .contact-text{
    margin: 30px 0 0;
    padding: 40px;
    background-color: #f1f1f2;
}
.contact-screen .contact-text h6{
    margin-bottom: 30px;
}
.contact-screen .contact-text p{
    font-weight: 600;
}
.contact-screen .contact-text p a{
    text-decoration: none;
    color: #ff2020;
}
.contact-screen .contact-form {
    margin-bottom: 50px;
}
.contact-screen .contact-form form  span.required{
    color: #ff2020;
}
.contact-screen .contact-form form h6,
.contact-screen .contact-form form label{
    font-weight: 600;
}
.contact-screen .contact-form form .row{
    margin-top: 20px;
}
.contact-screen .contact-form form .form-control,
.contact-screen .contact-form form .form-select{
    height: 40px;
}
.contact-screen .contact-form form .form-select{
    margin-bottom: 0 !important;
    color: #a1a1a3;
    font-size: 15px;
}
.contact-screen .contact-form form ::placeholder {
    color: #a1a1a3;
    font-size: 15px;
}
.contact-screen .contact-form form textarea{
    resize: none;
}
.contact-screen .contact-form form .security{
    background-color: #fff;
    border: var(--bs-border-width) solid #dee2e6;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 135px;
}
.contact-screen .contact-form form .security .left-part .section1{
    width: 75%;
    background-color: #f1f1f2;
    height: 55px;
}
.contact-screen .contact-form form .security .left-part small{
    display: flex;
    margin-top: 15px;
    font-size: 13px;
}
.contact-screen .contact-form form .security .right-part input{
    width: 75%;
    height: 30px;
}
.contact-screen .contact-form form .security .right-part small{
    display: flex;
    margin-bottom: 5px;
    font-size: 13px;
}
.contact-screen .contact-form form .btn-danger{
    border-radius: 0;
    background-color: #ff2020;
    font-size: 14px;
    color: #ffe9e9;
}
/* end contact screen */
/* start venue screen */
.venue-screen .venue h2,
.venue-screen .venue h3,
.venue-screen .venue h4,
.venue-screen .venue p b{
    font-family: bruumBoldFont;
}
.venue-screen .venue p ,
.venue-screen .venue ul li ,
.venue-screen .venue p b{
    font-size: 18px;
    margin-bottom: 10px;
}
.venue-screen .venue .text p ,
.venue-screen .venue h6 {
    font-size: 18px;
}
.venue-screen .venue h6{
    margin-bottom: 20px;
}
/* end venue screen */

/* start media query */
@media only screen and (min-width: 1400px) {
    .banner {
        height: 820px;
    }
}

@media only screen and (max-width: 1281px) {
    .counter-top p{
        font-size: 14px;
    }
    .counter-top .btns {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 1199px) {
    footer .footer2 .links h5 {
        font-size: 17px;
    }
    footer .footer2 .links p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .counter h2 {
        font-size: 24px;
    }
    .banner {
        height: 470px;
    }
    .banner .banner-text h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .banner .banner-text p {
        font-size: 18px;
        line-height: 25px;
        width: 75%;
    }
}
@media only screen and (max-width: 1109px) {
    .counter-top .btns {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .counter h2 {
        font-size: 24px;
    }
    header .nav2 ul li:not(:last-child)::after,
    header .nav3 ul li:not(:last-child)::after {
        position: relative;
    }
    footer .footer2 .logo{
        left: 0;
    }
    footer .footer2 .logo h5 {
        font-size: 25px;
    }
    footer .footer2 .links h5{
        font-size: 12px;
    }
    footer .footer2 .links p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    footer .footer2 .apps h4, footer .footer2 .apps h5 {
        font-size: 16px;
        line-height: 22px;
    }
    footer .footer2 .apps .btn.btn-dark {
        width: 90%;
    }

}
@media only screen and (max-width: 842px) and (min-width: 768px)  {
    .counter-top button.btn{
        font-size: 11px;
    }
    .counter h2 {
        font-size: 26px;
    }
    .counter-top p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 842px) and (min-width: 768px)  {
    .counter-top button.btn{
        font-size: 11px;
    }
    .counter h2 {
        font-size: 26px;
    }
    .counter-top p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 985px) {
    .counter-top .btn {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    header .right-part{
        position: relative;
        width: 100%;
    }
    header .left-part {
        margin: 20px 0;
        justify-content: center;
    }
    .counter-top button.btn{
        width: 100%;
        margin: 20px auto;
    }
    .banner .over {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.8;
        z-index: 99;
    }
    .banner .banner-text {
        width: 90%;
        position: relative;
        top: 50%;
        margin: 20% auto;
        /* margin: auto; */
    }
    .banner .banner-text h3{
        color: #1b75bb;
        text-align: center;
    }
    .banner .banner-text p{
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .banner, .bannerTop{
        width: 100%;
        height: 400px;
        background-position: left;
    }
    /* end banners */
    /* start section2 */
    .section2 .section-text {
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    /* start images */
    .smart-images ul{
        flex-direction: column;
        text-align: center;
    }
    /* start discussions */
    .discussions ul {
        margin-bottom: 25px;
    }
    .smart-images ul li{
        width: auto;
        margin: 10px auto;
    }
    .smart-images ul li h4 br{
        display: none;
    }
    /* start sponsor */
    .sponsor{
        text-align: center;
    }
    .sponsor .top1 h3 br{
        display: none;
    }
    .sponsor .top1 .btn {
        padding: 10px 50px;
        width: 80%;
        margin: 30px auto 0;
    }
    /* start .agenda-screen */
    .agenda-screen .photo-gallery h4{
        font-size: 20px;
        text-align: center;
    }
    .agenda-screen .photo-gallery .btn.btn-danger{
        width: 45%;
        margin: 1px auto;
    }
    .event-agenda nav button.nav-link {
        font-size: 15px;
        margin-bottom: 10px;
        width: 44%;
        padding: 3px 15px;
    }
    .event-agenda h5{
        font-size: 16px;
    }
    /* start footer */
    footer .footer1 {
        text-align: center;
        padding: 20px 0;
    }
    footer .footer1 .btn{
        margin: 20px auto;
    }
    footer .footer2 .links h5 {
        font-size: 16px;
    }
    footer .footer2 .links p {
        font-size: 14px;
    }
    footer .footer2 .links{
        border-right: 0;
    }
    footer .footer2 .apps{
        text-align: center;
    }
    footer .footer2 .apps .btn{
        margin: 20px auto;
    }
    footer .footer2 .apps h4 br, footer .footer2 .apps h5 {
        display: none;
    }
    footer .footer2 .apps h4, footer .footer2 .apps h5 {
        text-align: center;
    }
    footer .footer2 .logo h5 br {
        display: none;
    }

}
@media only screen and (max-width: 575px) {
    .nav2, .nav3{
        padding: 20px 0;
    }
    .nav2 ul li, .nav3 ul li{
        width: 40%;
    }
    header .right-part .nav1 button{
        font-size: 12px;
    }
    .counter-top .btns {
        margin-top: 15px;
    }
    .counter-top .btns .btn {
        width: 100%;
        margin-top: 5px;
    }
    #winnerSliders .carousel-item img {
        height: 250px;
    }
    .banner .banner-text h3 {
        font-size: 18px;
        line-height: 26px;
    }
    .banner .banner-text p {
        font-size: 15px;
        line-height: 20px;
    }
    footer .footer3 ul li{
        width: 42%;
    }
    footer .footer2 .logo h5 {
        font-size: 20px;
    }
    .speaker .img-speak{
        width: 50%;
        margin: auto;
        text-align: center;
    }
}
@media only screen and (max-width: 505px) {
    header .right-part .nav1 .dropdowns {
        flex-direction: column;
        text-align: right;
    }
    header .right-part .nav1 p {
        font-size: 14px;
    }
}

/* end media query */
